.container{
    width: 100vw;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(to bottom, rgb(188, 174, 255), rgb(88, 88, 88));
}

.main{
    border-radius: 7px;
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.348);
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.title{
    margin: 0;
    font-size: 28px;
}
.login{
    padding: 8px;
    background-color: #6d38ff;
    color: #fff;
    font-weight: 700;
}

.mainFooter{
    border-top: 1px solid #d2d2d2;
}